extends layout 
block css 
  link(rel="stylesheet", href="/stylesheets/talk.css")
block headerContent
  if(themeId !== 'rikei')
    a(href="/talk/rikei") -理系-
  if(themeId !== 'bunkei')
    a(href="/talk/bunkei") -文系-
  if(themeId !== 'other')
    a(href="/talk/other") -その他-
block content 
  .content
    if(themeId == 'rikei')
      h1 〜理系〜
    if(themeId == 'bunkei')
      h1 〜文系〜
    if(themeId == 'other')
      h1 〜その他〜
    .chat_contents
      if comments
        each comment in comments 
          - var date =  comment.updateAt
          if comment.user.username == locals.username
            .myContent
              span.date_tag #{date.getMonth()+1}/#{date.getDate()} #{date.getHours()}:#{date.getMinutes()}
              span.content_tag #{comment.content}
          else 
            .otherContent
              p.name_tag #{comment.user.username}
              span.content_tag #{comment.content}
              span.date_tag #{date.getMonth()+1}/#{date.getDate()} #{date.getHours()}:#{date.getMinutes()}
      else
        p 何もない
    if locals.username
      form(action=`/talk/${themeId}` method='post')
        input(type="hidden" name="_csrf" value!=csrfToken)
        textarea(name='comment' rows='3' placeholder='自由に話しまょう')
        input.fas(type='submit' value='　　送信　　')
    else 
      .register
        h3  
          a(href="/signup") 新規登録
          |　して書き込みをしてみよう!